$color-pink: #f16d7f;
$color-grey: #f7f7f7;
$color-black-grey: #f9f9f9;
$color-text: #b9b9b9;
$color-black-text: #7a7a7a;
$color-base: #222222;
$new-arrivals-color: #f8f3f4;
$bgc-input: #e1e1e1;
$bgc-offer: #222224;
$white: #ffffff;