@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");
@media (min-width: 768px) {
  .header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .logo p {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  .header .logo span {
    color: #f16d7f;
  }
  .browse-button {
    background-color: #f9f9f9;
  }
  .my-account {
    background-color: #f16d7f;
  }
  .my-account a {
    color: #ffffff;
  }
  .hr {
    height: 0;
    border-bottom: 1px solid #e6e6e6;
  }
}

@media (max-width: 767.98px) {
  .header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .logo p {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  .header .logo span {
    color: #f16d7f;
  }
  .browse-button {
    background-color: #f9f9f9;
  }
  .my-account {
    background-color: #f16d7f;
  }
  .my-account a {
    color: #ffffff;
  }
  .hr {
    height: 0;
    border-bottom: 1px solid #e6e6e6;
  }
}

.subscribe-bg {
  min-height: 28rem;
  background-image: url(../../img/img-first-page/subscribe-background.jpg);
  background-repeat: no-repeat;
  background-color: #ccc;
  background-position: 50% 20%;
  background-size: 110%;
  background-blend-mode: overlay;
}

.quote {
  min-height: 28rem;
}

.quote img {
  width: 5rem;
  height: 5rem;
}

.quote p {
  font-size: 1rem;
}

.quote p span {
  color: #f16d7f;
  font-size: 1.1rem;
}

.quote .input-group {
  max-width: 26rem;
}

.quote .input-group input {
  border-bottom-left-radius: 23px;
  border-top-left-radius: 23px;
  height: 3rem;
  border: none;
  outline: none;
  background-color: #e1e1e1;
}

.quote .input-group button {
  border-bottom-right-radius: 23px;
  border-top-right-radius: 23px;
  background-color: #f16d7f;
  color: #fff;
  border: none;
  outline: none;
  width: 8em;
}

footer {
  min-height: 30rem;
}

footer .row {
  min-height: inherit;
}

footer .row .col-xl-4 {
  min-height: 23rem;
}

footer .footer-menu {
  min-width: 23rem;
}

footer .footer-menu .col-xl-4 {
  min-height: 23rem;
}

footer .footer-menu .col-xl-4 .footer-link {
  height: 200px;
}

footer h4 {
  color: #f16d7f;
}

footer .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .logo p {
  font-size: 1.5rem;
  margin-bottom: 0;
}

footer .logo span {
  color: #f16d7f;
}

footer a {
  text-decoration: none;
  color: #222222;
}

.copyrights {
  background-color: #e1e1e1;
  min-height: 5rem;
}

.copyrights .container {
  min-height: inherit;
}

.copyrights .right div {
  background-color: #fff;
}

.copyrights .right div:hover {
  background-color: #f16d7f;
}

.copyrights .right div:active {
  background-color: #f9f9f9;
}

.copyrights .right div i {
  color: #b9b9b9;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .subscribe-bg {
    min-height: 28rem;
    background-image: url(../../img/img-first-page/subscribe-background.jpg);
    background-repeat: no-repeat;
    background-color: #ccc;
    background-position: 50% 20%;
    background-size: 110%;
    background-blend-mode: overlay;
  }
  .quote {
    min-height: 15rem;
  }
  .quote img {
    width: 5rem;
    height: 5rem;
  }
  .quote p {
    font-size: 1rem;
  }
  .quote p span {
    color: #f16d7f;
    font-size: 1.1rem;
  }
  footer {
    text-align: center;
  }
  footer .footer-link {
    margin-bottom: 1rem;
  }
  footer a {
    font-size: 1.4rem;
  }
  .copyrights {
    background-color: #e1e1e1;
    min-height: 5rem;
  }
  .copyrights .right {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-bottom: 30px;
  }
  .copyrights .right div {
    width: 60px;
    height: 60px;
    font-size: 2rem;
    text-align: center;
  }
  .copyrights .left {
    width: 100%;
    font-size: 1rem;
    text-align: center;
  }
  .copyrights .container {
    min-height: inherit;
  }
}

.nav a {
  color: #222222;
}

@media (max-width: 767.98px) {
  .nave-none-md {
    display: none;
  }
}

@media (min-width: 1200px) {
  .slider {
    background-color: #e8e8e8;
  }
  .slider-line {
    border-left: 1rem solid #f16d7f;
    height: 98px;
  }
  .slider-text h2 {
    font-size: 3.7rem;
  }
  .slider-text p {
    font-size: 2.2rem;
  }
  .slider-text p span {
    color: #f16d7f;
  }
  .banners {
    height: 845px;
  }
  .banners .banner-text {
    background-color: #ffffff;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-size: 1.2rem;
    cursor: pointer;
  }
  .banners .banner-text span {
    font-size: 2rem;
    color: #f16d7f;
  }
  .banners .banner1 {
    background-image: url(../../img/img-first-page/banner1.jpg);
    width: 555px;
    height: 542px;
  }
  .banners .banner2 {
    background-image: url(../../img/img-first-page/banner2.jpg);
    width: 555px;
    height: 260px;
  }
  .banners .banner3 {
    background-image: url(../../img/img-first-page/banner3.jpg);
    width: 555px;
    height: 260px;
  }
  .banners .banner4 {
    background-image: url(../../img/img-first-page/banner4.jpg);
    width: 555px;
    height: 542px;
  }
  .product-hover {
    display: none;
    position: absolute;
    background-color: #222224;
    height: 271px;
    width: 254px;
    opacity: 0.7;
  }
  .product-hover button {
    background: none;
    color: #ffffff;
    padding: 10px 5px;
    border: 1px solid #ffffff;
    margin-top: 45%;
    margin-left: 25%;
    width: 131px;
  }
  .card:hover .product-hover {
    display: block;
  }
  .card {
    position: relative;
  }
  .card:hover {
    -webkit-box-shadow: 3px 4px 11px 0px rgba(50, 50, 50, 0.78);
    box-shadow: 3px 4px 11px 0px rgba(50, 50, 50, 0.78);
  }
  .browse-all {
    background-color: #f16d7f;
    color: #ffffff;
    border: none;
    outline: none;
  }
  .offer .col-xl-8 {
    background-image: url(../../img/img-first-page/featured.jpg);
    height: 528px;
    padding-top: 10%;
    padding-left: 3%;
  }
  .offer .col-xl-8 div {
    color: #ffffff;
    font-size: 3.5rem;
    line-height: 3rem;
  }
  .offer .col-xl-8 div span {
    color: #f16d7f;
  }
  .offer .col-xl-8 div + div {
    font-size: 2rem;
  }
  .offer .col-xl-4 {
    background-color: #222224;
  }
  .offer .offer-text {
    color: #ffffff;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .slider {
    background-color: #e8e8e8;
    background-image: url(../../img/img-first-page/man2.jpg);
    background-repeat: no-repeat;
    background-position: center right;
    min-height: 614px;
  }
  .slider .container-lg {
    min-height: 614px;
  }
  .slider-text h2 {
    font-size: 3.7rem;
  }
  .slider-text p {
    font-size: 2.2rem;
  }
  .slider-text p span {
    color: #f16d7f;
  }
  .slider-text .slider-line {
    border-left: 1rem solid #f16d7f;
    height: 98px;
  }
  .banners {
    max-height: 845px;
  }
  .banners .banner-text {
    background-color: #ffffff;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-size: 1.2rem;
    cursor: pointer;
  }
  .banners .banner-text span {
    font-size: 2rem;
    color: #f16d7f;
  }
  .banners .banner1 {
    background-image: url(../../img/img-first-page/banner1.jpg);
    background-repeat: no-repeat;
    width: 555px;
    height: 542px;
  }
  .banners .banner2 {
    background-image: url(../../img/img-first-page/banner2.jpg);
    background-repeat: no-repeat;
    width: 555px;
    height: 260px;
  }
  .banners .banner3 {
    background-image: url(../../img/img-first-page/banner3.jpg);
    background-repeat: no-repeat;
    width: 555px;
    height: 260px;
  }
  .banners .banner4 {
    background-image: url(../../img/img-first-page/banner4.jpg);
    background-repeat: no-repeat;
    width: 555px;
    height: 542px;
  }
  .product-hover {
    display: none;
    position: absolute;
    background-color: #222224;
    height: 271px;
    width: 254px;
    opacity: 0.7;
  }
  .product-hover button {
    background: none;
    color: #ffffff;
    padding: 10px 5px;
    border: 1px solid #ffffff;
    margin-top: 45%;
    margin-left: 25%;
    width: 131px;
  }
  .card:hover .product-hover {
    display: block;
  }
  .card {
    position: relative;
  }
  .card:hover {
    -webkit-box-shadow: 3px 4px 11px 0px rgba(50, 50, 50, 0.78);
    box-shadow: 3px 4px 11px 0px rgba(50, 50, 50, 0.78);
  }
  .browse-all {
    background-color: #f16d7f;
    color: #ffffff;
    border: none;
    outline: none;
  }
  .offer .col-xl-8 {
    background-image: url(../../img/img-first-page/featured.jpg);
    height: 528px;
    padding-top: 10%;
    padding-left: 3%;
  }
  .offer .col-xl-8 div {
    color: #ffffff;
    font-size: 3.5rem;
    line-height: 3rem;
  }
  .offer .col-xl-8 div span {
    color: #f16d7f;
  }
  .offer .col-xl-8 div + div {
    font-size: 2rem;
  }
  .offer .col-xl-4 {
    background-color: #222224;
  }
  .offer .offer-text {
    color: #ffffff;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .slider {
    background-color: #e8e8e8;
    background-image: url(../../img/img-first-page/man2.jpg);
    background-repeat: no-repeat;
    background-position: center right;
    min-height: 614px;
  }
  .slider .container-lg {
    min-height: 614px;
  }
  .slider-line {
    border-left: 1rem solid #f16d7f;
    height: 98px;
  }
  .slider-text h2 {
    font-size: 3.7rem;
  }
  .slider-text p {
    font-size: 2.2rem;
  }
  .slider-text p span {
    color: #f16d7f;
  }
  .banners {
    height: 845px;
  }
  .banners .banner-text {
    background-color: #ffffff;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-size: 1.2rem;
    cursor: pointer;
  }
  .banners .banner-text span {
    font-size: 2rem;
    color: #f16d7f;
  }
  .banners .banner1 {
    background-image: url(../../img/img-first-page/banner1.jpg);
    width: 555px;
    height: 542px;
  }
  .banners .banner2 {
    background-image: url(../../img/img-first-page/banner2.jpg);
    width: 555px;
    height: 260px;
  }
  .banners .banner3 {
    background-image: url(../../img/img-first-page/banner3.jpg);
    width: 555px;
    height: 260px;
  }
  .banners .banner4 {
    background-image: url(../../img/img-first-page/banner4.jpg);
    width: 555px;
    height: 542px;
  }
  .product-hover {
    display: none;
    position: absolute;
    background-color: #222224;
    height: 271px;
    width: 254px;
    opacity: 0.7;
  }
  .product-hover button {
    background: none;
    color: #ffffff;
    padding: 10px 5px;
    border: 1px solid #ffffff;
    margin-top: 45%;
    margin-left: 25%;
    width: 131px;
  }
  .card:hover .product-hover {
    display: block;
  }
  .card {
    position: relative;
  }
  .card:hover {
    -webkit-box-shadow: 3px 4px 11px 0px rgba(50, 50, 50, 0.78);
    box-shadow: 3px 4px 11px 0px rgba(50, 50, 50, 0.78);
  }
  .browse-all {
    background-color: #f16d7f;
    color: #ffffff;
    border: none;
    outline: none;
  }
  .offer .col-xl-8 {
    background-image: url(../../img/img-first-page/featured.jpg);
    height: 528px;
    padding-top: 10%;
    padding-left: 3%;
  }
  .offer .col-xl-8 div {
    color: #ffffff;
    font-size: 3.5rem;
    line-height: 3rem;
  }
  .offer .col-xl-8 div span {
    color: #f16d7f;
  }
  .offer .col-xl-8 div + div {
    font-size: 2rem;
  }
  .offer .col-xl-4 {
    background-color: #222224;
  }
  .offer .offer-text {
    color: #ffffff;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .slider {
    background-color: #e8e8e8;
    background-image: url(../../img/img-first-page/man2.jpg);
    background-repeat: no-repeat;
    background-position: center right;
    min-height: 614px;
    background-blend-mode: overlay;
    background-size: 111%;
  }
  .slider .container-lg {
    min-height: 614px;
  }
  .slider-line {
    border-left: 1rem solid #f16d7f;
    height: 98px;
  }
  .slider-text h2 {
    font-size: 3.7rem;
  }
  .slider-text p {
    font-size: 2.2rem;
  }
  .slider-text p span {
    color: #f16d7f;
  }
  .offer .col-xl-8 {
    background-image: url(../../img/img-first-page/featured.jpg);
    background-repeat: no-repeat;
    min-height: 400px;
    padding-top: 37%;
    padding-left: 10%;
    background-blend-mode: overlay;
    background-color: #e8e8e8;
  }
  .offer .col-xl-8 div {
    color: #222224;
    font-size: 5rem;
    line-height: 4rem;
  }
  .offer .col-xl-8 div span {
    color: #f16d7f;
  }
  .offer .col-xl-8 div + div {
    font-size: 3rem;
  }
  .offer .col-xl-4 {
    background-color: #222224;
  }
  .offer .offer-text {
    color: #ffffff;
  }
}
/*# sourceMappingURL=style-index2.css.map */