@import "../css/style.scss";
@import "../variables/style-variables.scss";
@import "../header/style-header.scss";
@import "../footer/style-footer.scss";
@import "../nav-css/nav.scss";


.new-arrivals{
    background-color: $new-arrivals-color;
    div{
        height: inherit;
    }
    p{
        color: $color-pink;
        font-size: 1.5rem;
    }
}
.breadscrumb-bgc{
    background-color: inherit;
    .active{
        color: $color-pink;
    }
    a{
        color: $color-base;
    }
    a:hover{
        text-decoration: none;
        color: $color-base;
    }
}
.img-position{
    margin-left: 35%;
    -o-object-fit: contain;
}
.carousel-bg{
    background-color: $color-grey;
    
}

.discription{
    background-color: #fff;
    height: 728px;
    padding-top: 50px;
    margin-top: -50px;
    position: relative;
    z-index: 1;
    .discription-content{
        height: 538px;
        width: 615px;
        text-align: center;
        .discription-black-text{
            color: $color-black-text;
        }
        .discription-text{
            color: $color-text;
            span{
                color: #222222;
            }
        }
        button{
            background-color: #ffffff;
            border: 1px solid $color-pink;
            color: $color-pink;
        }
    }
}
.pagination{
    height: 50px;
}
.price{
    color: $color-pink;
    font-size: 1.8rem;
}
#select-color{
    width: 10rem;
}
.img-you-like{
    background-color: $color-grey;
    height: 278px;
    padding-left: 30%;
    
}
.img-you-like4{
    padding-left: 0%;
}
.col-xl-3 {
    span{
        color: $color-pink;
    }
}
.text-pink{
    color: $color-pink !important; 
}
.p-like-also{
    font-size: 1.6rem;
}
